@model IEnumerable<WebApplication1.Models.GameLevel>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Game Levels</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.title</td>
                        <td>@item.description</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.levelId">Details</a> |
                            <a asp-action="Edit" asp-route-id="@item.levelId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.levelId"
                            onclick="return confirm('Delete this level?')">Delete</a>
                        </td>

                    </tr>
                }
                </tbody>
            </table>

            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </div>
    </div>
</div>
